* {
  margin: 0;
  padding: 0;
}

html {
  min-width: 20rem;
}

.header_image {
  max-width: 100%;
  min-height: 60vh;
  max-height: 60vh;
  position: relative;
  background-color: transparent;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.22),
      rgba(0, 0, 0, 0.22)
    ),
    url('./resources/images/stevenuniverse_bg.jpg');
  background-position: 50%, 50%;
  background-size: auto, cover;
}

.header_wrap {
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  transform: scale3d(1none, 1none, 1none);
  color: #fff;
  transform-style: preserve-3d;
  display: flex; /* To use flexbox I need to set a flex display */
  flex-direction: column; /* to make it vertical I change the direction to column */
  justify-content: center;
  vertical-align: middle;
}

.header_block {
  position: relative;
  top: 5rem;
  display: block;
  margin-bottom: 5%;
  text-align: center;
}

.alice_header_text {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3rem;
  color: aliceblue;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}

.alice_header_label {
  color: aliceblue;
  font-size: 0.9rem;
  font-family: 'Karla', sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

.alice_text {
  color: aliceblue;
  font-family: 'Karla', sans-serif;
}

#article_heading {
  margin-bottom: 3rem;
  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

#article_text {
  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

#article_link {
  margin-top: 4rem;
  width: 6rem;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;

  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  -webkit-transition: all 0.3s ease;
}

#article_link:hover {
  width: 6rem;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-size: 1.8rem;
}

.title_button {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 2rem;
  background-color: aliceblue;
  color: black;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-family: 'Karla', sans-serif;
  outline: none;
  transition: 0.3s;
  width: 14rem;
  height: 3rem;
  border-radius: 2rem;
}
.title_button:hover {
  opacity: 1;
  background-color: rgb(234, 239, 243);
  color: black;
  outline: none;
  width: 15rem;
  height: 4rem;
}

.top_container {
  margin-bottom: 2rem;
  min-height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.top_button {
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  outline: none;
  border: none;
  color: rgb(133, 133, 133);
  text-decoration: none;
  transition: 0.3s;
}

.top_button:hover {
  color: rgb(22, 22, 22);
}

.button_block {
  min-height: 1rem;
  min-width: 5rem;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;

  justify-content: center;
}

.logo {
  min-height: 10rem;
  min-width: 10rem;
  max-height: 10rem;
  max-width: 10rem;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 0 5px #222);
  transition: 0.3s;
}

.logo:hover {
  transform: rotate(10deg);
}

.bottom_strip {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  height: 40vh;
  min-width: 10vh;
  display: flex;
  text-align: center;
  align-items: center;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 5vh;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffe3c2 100%);
  border-top-left-radius: 80% 20%;
  border-top-right-radius: 80% 20%;
}

.footer_container {
  margin-top: 2%;
  width: 100vh;
  min-height: 5vh;
}

.slogan {
  width: 30vh;
  margin-top: -10vh;

  color: black;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.copyright {
  margin-top: 13%;
  margin-bottom: 3%;
  min-width: 30vh;
  color: rgb(49, 49, 49);
  font-family: 'Karla', sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.social {
  margin-left: 55%;
  margin-top: 2vh;
  min-width: 30vh;
  max-width: 30vh;
  color: rgb(0, 0, 0);
  font-family: 'Karla', sans-serif;
  font-size: 0.8rem;
  font-weight: 1000;
  letter-spacing: 1px;
}

#social_link {
  width: 6rem;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 1000;
  color: rgb(87, 87, 87);
}

.contact {
  align-items: center;
  margin-left: 50%;
  margin-top: 5vh;
  min-width: 40vh;
  max-width: 40vh;
  color: rgb(0, 0, 0);
  font-family: 'Karla', sans-serif;
  font-size: 0.8rem;
  font-weight: 1000;
  letter-spacing: 1px;
}
